﻿<!DOCTYPE html>
@{
    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }
}
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-w idth, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewBag.Title -@GlobalConfig.ProjectName</title>
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Files/DefaultImages/favicon/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Files/DefaultImages/favicon/manifest.json")">
    <meta name="msapplication-TileColor" content="#005893">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Files/DefaultImages/favicon/ms-icon-144x144.png")">
    <meta name="theme-color" content="#005893">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    @Styles.Render("~/css/bundles")
    @Styles.Render("~/css/menu")
    @Scripts.Render("~/jQuery/bundles")
    @Styles.Render("~/css/zoom")
    <script src="~/Content/Plugins/zoom/zoom.js"></script>
    <link href="~/Content/Plugins/zoom/zoom.css" rel="stylesheet" />
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar" id="body">
    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="nav-item mobile-menu hidden-md-up float-xs-left">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs">
                            <i class="icon-menu5 font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Home")" class="navbar-brand nav-link">
                            <img alt="@GlobalConfig.ProjectName" src="@Url.Content("~/Files/DefaultImages/logo.png")" class="brand-logo"
                                 data-expand="@Url.Content("~/Files/DefaultImages/logo.png")"
                                 data-collapse="@Url.Content("~/Files/DefaultImages/small-logo.png")">
                        </a>
                    </li>
                    <li class="nav-item hidden-md-up float-xs-right">
                        <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
                            <i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content container-fluid">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-sm-down">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a>
                        </li>
                        <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-xs-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                <span class="avatar avatar-online">
                                    <img src="@Url.Content("~/Files/DefaultImages/admin_avtar.png")" alt="avatar"><i></i>
                                </span>
                                <span class="user-name">@ViewBag.FullName</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="@Url.Action("changepassword", "Account")" class="dropdown-item"><i class="icon-head"></i> change password</a>
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("Logout","Account")" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- main menu-->
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
        <div class="main-menu-content">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="nav-item" id="liHome">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="icon-home3"></i>
                        <span data-i18n="nav.dash.main" class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" id="liTerms">
                    <a href="@Url.Action("Index", "User")">
                        <i class="icon-user"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Users</span>
                    </a>
                </li>
                <li class="nav-item" id="liCategory">
                    <a href="@Url.Action("Index", "Category")">
                        <i class="icon-calendar5"></i>
                        <span data-i18n="nav.dash.main" class="menu-title">Category</span>
                    </a>
                </li>
                <li class="nav-item" id="liSubCategory">
                    <a href="@Url.Action("Index", "SubCategory")">
                        <i class="icon-sitemap"></i>
                        <span data-i18n="nav.dash.main" class="menu-title">Sub Category</span>
                    </a>
                </li>
                <li class="nav-item" id="liSongs">
                    <a href="@Url.Action("Index", "Songs")">
                        <i class="icon-music"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Songs</span>
                    </a>
                </li>
                <li class="nav-item has-sub">
                    <a href="javascript:;">
                        <i class="icon-music2"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Requested Songs</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liUploaded">
                            <a href="@Url.Action("Uploaded", "RequestedSong")">
                                <i class="icon-music3"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Uploaded</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liPending">
                            <a href="@Url.Action("Pending", "RequestedSong")">
                                <i class="icon-music3"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Pending</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item" id="liContactUs">
                    <a href="@Url.Action("Index", "ContactUs")">
                        <i class="icon-ios-contact"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Contact Us</span>
                    </a>
                </li>
                <li class="nav-item has-sub">
                    <a href="javascript:;">
                        <i class="icon-gears"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Settings</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liAppSettings">
                            <a href="@Url.Action("Index", "AppSettings")">
                                <i class="icon-gear"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">App Settings</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liNotification">
                            <a href="@Url.Action("Notification", "Utility")">
                                <i class="icon-notification"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Send notification</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liAbout">
                            <a href="@Url.Action("AboutUs", "Utility")">
                                <i class="icon-information"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">About US</span>
                            </a>
                        </li>

                        <li class="nav-item" id="liTerms">
                            <a href="@Url.Action("Terms", "Utility")">
                                <i class="icon-gears"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Terms</span>
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!-- / main menu-->

    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix text-muted text-sm-center mb-0 px-2">
            <span class="float-md-left d-xs-block d-md-inline-block">
            </span>
            <span class="float-md-right d-xs-block d-md-inline-block">
                Copyright  &copy; @DateTime.Now.Year
                <a href="#" target="_blank" class="text-bold-800 grey darken-2">@GlobalConfig.ProjectName</a>, All rights reserved.
            </span>
        </p>
    </footer>

    @Scripts.Render("~/jQuery/core")
    @Scripts.Render("~/jQuery/ui")
    @Scripts.Render("~/jQuery/zoom")
    @RenderSection("scripts", required: false)
    <script>
        //$(function () {
        //    $('img').attr('data-action', 'zoom');
        //});
        var status =@status;
        if(status==0){
            toastr.error('@message', 'Error !');
        }
        else if(status==1){
            toastr.success('@message', 'Success.');
        }
        else if(status==2){
            toastr.info('@message', 'Info.');
        }
        else if(status==3){
            toastr.warning('@message', 'Warning !');
        }
        else if(status==4){
            toastr.info('@message', 'Message.');
        }

    </script>
</body>
</html>