﻿@model AdminCategoryModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = "AddorUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/wizard")
@Styles.Render("~/css/uploadImage")
@Styles.Render("~/css/icheck")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">@Action Category</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        @using (Html.BeginForm(Action, "Category", FormMethod.Post, new
                        {
                            @id = "submitForm",
                            @class = "wizard-circle",
                            @enctype = "multipart/form-data"

                        }))
                        {
                            if (Model != null && Model.Id > 0)
                            {
                                @Html.HiddenFor(x => x.Id)
                            }
                            @Html.HiddenFor(x => x.ImageName)
                            @Html.HiddenFor(x => x.IconName)
                            <h6>Basic</h6>

                            <fieldset>
                                <div class="col-md-3">
                                    @Html.Partial("_ImageUpload", new UploadImageModel() { imageUrl = GlobalConfig.CategoryImageUrl + Model.ImageName, saveFilePath = GlobalConfig.CategoryImagePath, hdnImageName = "ImageName" })
                                    @Html.HiddenFor(x => x.ImageName)
                                    @Html.ValidationMessageFor(x => x.ImageName)
                                </div>
                                <div class="col-md-9">

                                    <div class="form-group row">
                                        <div class="col-md-3 text-right">
                                            <label>
                                                Icon <span class="red">*</span>
                                            </label>
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(x => x.FileBaseIconCategory, new { @class = "form-control", @type = "file", @accept = "image/*" })
                                            @Html.ValidationMessageFor(x => x.IconName)
                                        </div>
                                        <div class="col-md-4">
                                            @*@if (Model != null && Model.Id > 0)
                                            {*@
                                                <img src="@(GlobalConfig.CategoryIconUrl+Model.IconName)" id="IconPrv" height="40" width="50" />
                                            @*}*@
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3 text-right">
                                            <label>
                                                PriceId Andorid <span class="red">*</span>
                                            </label>
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(x => x.PriceIdAndroid, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.PriceIdAndroid)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3 text-right">
                                            <label>
                                                PriceId iOS <span class="red">*</span>
                                            </label>
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(x => x.PriceIdiOS, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.PriceIdiOS)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3 text-right">
                                            <label>
                                                Sub Category Allowed <span class="red">*</span>
                                            </label>
                                        </div>
                                        <div class="col-md-5">
                                            @Html.CheckBoxFor(x => x.IsSubCateogory, new { @class = "form-control chk-box" })
                                            @Html.ValidationMessageFor(x => x.IsSubCateogory)
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            for (int i = 0; i < Model.Categorylanguagemodellist.Count; i++)
                            {
                                @Html.HiddenFor(x => x.Categorylanguagemodellist[i].CategoryId)
                                @Html.HiddenFor(x => x.Categorylanguagemodellist[i].Language)
                                <h6>@Model.Categorylanguagemodellist[i].LanguageName</h6>

                                <fieldset>
                                    <div class="form-group row">
                                        <div class="col-md-2" style="text-align:right;">
                                            <label>
                                                Name  <span class="red">*</span>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.Categorylanguagemodellist[i].CategoryName, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.Categorylanguagemodellist[i].CategoryName)
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/uploadImage")
    @Scripts.Render("~/jQuery/iCheck")
    <script type="text/javascript">
        ActiveMenu("Category")

        $('.chk-box').iCheck({
            checkboxClass: 'icheckbox_square-purple',
            radioClass: 'iradio_square-purple',
        });
        $('#FileBaseIconCategory').on('change', function () {
            readIconURL(this)
            if ($(this).get(0).files[0].type.indexOf('image') >= 0) {
                if ($(this).get(0).files.length == 0) {
                    $('#IconName').val('');
                }
                else {
                    $('#IconName').val($(this).get(0).files[0].name);
                }
            }
            else {
                toastr.error('Please upload images only.', 'Error !');
                $('#FileBaseIconCategory').val('');
                return false;
            }
        });
        function readIconURL(input) {
            var url = input.value;
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            console.log(ext);
            if (input.files && input.files[0] && (ext == "ico" || ext == "png")) {
                $('#IconPrv').show();
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#IconPrv').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please upload only .jpg,.png,jpeg Image extention', 'Warning !');
            }
        }
    </script>
}