﻿@model NotificationSendModel

@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _action = ViewBag.Action;
}
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "Utility", FormMethod.Post))
            {
                if (Model != null)
                {
                    @Html.Hidden("filter")
                }
                <div class="card">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">Send Notification</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <label class="col-md-4">
                                            Select Platform
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(x => x.PlatformId, new SelectList(ViewData["PlatformList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Platform", new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.PlatformId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <label class="col-md-4">
                                            Message <span class="red">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.NotificationText, new { style = "width: 100%;" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Send Message " />
                                <a href="@Url.Action("index","Home")?@(Request.QueryString["filter"])" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script type="text/javascript">
        ActiveMenu("Notification")
    </script>
}


