﻿@model SubCategoryAddUpdateRequestModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = "AddorUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/select2")
@Styles.Render("~/css/wizard")
<section>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">@Action Sub category</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    @using (Html.BeginForm(Action, "SubCategory", FormMethod.Post, new
                    {
                        @id = "submitForm",
                        @class = "wizard-circle"
                    }))
                    {
                        if (Model != null && Model.Id > 0)
                        {
                            @Html.HiddenFor(x => x.Id)
                        }
                        <h6>Basic</h6>
                        <fieldset>
                            <div class="form-group row">
                                <div class="col-md-3" style="text-align:right;">
                                    <label>
                                        Category <span class="red">*</span>
                                    </label>
                                </div>
                                <div class="col-md-5">
                                    @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewData["CategoryList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Category", new { @class = "select2 form-control required" })
                                    @Html.ValidationMessageFor(x => x.CategoryId)
                                </div>
                            </div>
                        </fieldset>

                        for (int i = 0; i < Model.Languages.Count; i++)
                        {
                            @Html.HiddenFor(x => x.Languages[i].Language)
                            @Html.HiddenFor(x => x.Languages[i].SubCategoryId)
                            @Html.HiddenFor(x => x.Languages[i].CategoryId, new { @class = "category", Value = Model.CategoryId })
                            <h6>@Model.Languages[i].LanguageName</h6>
                            <fieldset>
                                <div class="form-group row">
                                    <div class="col-md-3" style="text-align:right;">
                                        <label> Sub Category Name  <span class="red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.Languages[i].Name, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(x => x.Languages[i].Name)
                                    </div>
                                </div>
                            </fieldset>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/select2")
    <script type="text/javascript">
        ActiveMenu("SubCategory")
        $(document).ready(function (e) {
            $('.select2').select2({

            });
            $(".category").val($("#CategoryId").val());
            console.log($(".category").val());

            $("#CategoryId").change(function () {
                $(".category").val($("#CategoryId").val());
                console.log($(".category").val());
            });
        });
    </script>
}