﻿@model IQueryable<SubCategoryListModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

<link rel="stylesheet" href="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.css")" />

@using (Html.BeginForm("DeleteCategory", "Category", FormMethod.Post, new { @class = "form-horizontal form-simple", @id = "frmDelete" }))
{
    @Html.Hidden("CategoryId")
}

@helper ActionButtons(long SubCategoryId)
{
    /**/
    <div class="form-group row">
        <a href="@Url.Action("Edit", "SubCategory", new { @id = SubCategoryId})" class="btn btn-sm btn-primary btn-blue">
            <i class="icon-edit2"></i> Edit
        </a>
        <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@SubCategoryId">
            <i class="icon-trash4"></i> Delete
        </a>
    </div>
}
@helper SubCategoryLanguageList(List<SubCategoryLanguageList> model)
{
    /**/
    <ul>
        @foreach (var item in model)
        {
            <li>
                <i class="fa fa-caret-right"></i>
                @item.LanguageName :- @Html.Raw(item.Name)
            </li>
        }
    </ul>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All Sub Category</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            <li class="btn btn-white">
                                <a href="@Url.Action("Add")" class="primary">
                                    <i class="icon-plus3 primary"></i>&nbsp;Add New
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {

                               column.Add()
                              .Titled("Category Name")
                              .Encoded(false)
                              .Sanitized(false)
                              .RenderValueAs(x => x.CategoryName.ToString());

                               column.Add()
                               .Titled("Sub Category Name")
                               .Encoded(false)
                               .Sanitized(false)
                               .RenderValueAs(x => SubCategoryLanguageList(x.Languages));

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.Id));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("SubCategory")
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
          $(function () {
              $(".btnDelete").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });

    </script>
}