﻿@model SongsAddUpdateModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = "Manage Songs";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UploadImageModel objUploadImage = new UploadImageModel() { imageUrl = GlobalConfig.SongsImageUrl + "Default.png", saveFilePath = GlobalConfig.SongsImagetPath, hdnImageName = "ImageName" };
}
@Styles.Render("~/css/uploadImage")
@Styles.Render("~/css/select2")
@Styles.Render("~/css/summernote")
@Styles.Render("~/css/icheck")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(Action, "Songs", FormMethod.Post, new { id = "SongAddUpdate", @enctype = "multipart/form-data" }))
            {
                if (Model != null)
                {
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.FileName)
                }
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">@ViewBag.Action Songs</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        @Html.Partial("_ImageUpload", new UploadImageModel() { imageUrl = GlobalConfig.SongsImageUrl + Model.imageName, saveFilePath = GlobalConfig.SongsImagetPath, hdnImageName = "imageName" })
                                        @Html.HiddenFor(x => x.imageName)
                                        @Html.ValidationMessageFor(x => x.imageName)
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <div class="form-group row">
                                            <label class="col-md-2">
                                                Title&nbsp;<span class="red">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.Title)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2">
                                                Category <span class="red">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewData["CategoryList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select category", new { @class = "select2 form-control required" })
                                                @Html.ValidationMessageFor(x => x.CategoryId)
                                            </div>
                                            <div class="col-md-4">
                                                @*@Html.DropDownListFor(x=>x.SubCategoryId, Enumerable.Empty<SelectListItem>(), "Select sub category", htmlAttributes: new { @class = " select2 form-control" })
        @Html.ValidationMessageFor(x => x.SubCategoryId)*@
                                                @Html.DropDownListFor(x => x.SubCategoryId, new SelectList(ViewData["SubCategoryList"] as List<SelectListItem>, "Value", "Text"), "Select Sub Category", new { @class = "select2 form-control" })
                                                @Html.ValidationMessageFor(x => x.SubCategoryId)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2">
                                                Language <span class="red">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(x => x.LanguageId, new SelectList(ViewData["LanguageList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select language", new { @class = "select2 form-control required" })
                                                @Html.ValidationMessageFor(x => x.LanguageId)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2">
                                                Example (Name)&nbsp;<span class="red">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(x => x.Example, new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(x => x.Example)
                                            </div>
                                            <div class="col-md-5">
                                                Is Free &nbsp; &nbsp; &nbsp; @Html.CheckBoxFor(x => x.IsFree, new { @class = "form-control chk-box" })
                                                @Html.ValidationMessageFor(x => x.IsFree)
                                            </div>
                                        </div>
                                        <div class="form-group row" id="divPaid" style="display:@(Model.IsFree?"none":"block")">
                                            <label class="col-md-2">
                                                ANDROID ID&nbsp;<span class="red">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(x => x.SongIdAndroid, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.SongIdAndroid)
                                            </div>
                                            <label class="col-md-2">
                                                IOS ID&nbsp;<span class="red">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(x => x.SongIdIos, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.SongIdIos)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input id="fileFake" class="form-control" placeholder="Please Choose song File" disabled="disabled">
                                                    <div class="input-group-btn">
                                                        <div class="fileUpload btn btn-primary">
                                                            <span><i class="icon-upload1"></i>&nbsp;Choose&nbsp;Song&nbsp;File</span>
                                                            @Html.TextBoxFor(x => x.FileBaseSongs, new { @class = "attachment_upload", @type = "file", @accept = "Audio/*" })

                                                        </div>
                                                    </div>
                                                </div>
                                                @Html.ValidationMessageFor(x => x.FileName)
                                            </div>
                                            <div class="col-md-6">
                                                @if (Model != null && Model.Id > 0)
                                                {
                                                    <audio controls>
                                                        <source src="@(GlobalConfig.SongsUrl+Model.FileName)" type="audio/ogg">
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12">
                                    Lyrics&nbsp;<span class="red">*</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(x => x.Lyrics, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="repeater">
                                    <div data-repeater-list="SoongHashTag">
                                        @if (Model != null)
                                        {
                                            if (Model.SoongHashTag != null && Model.SoongHashTag.Any())
                                            {
                                                for (int i = 0; i < Model.SoongHashTag.Count; i++)
                                                {
                                                    <div data-repeater-item>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    @Html.TextBox("HashTag", Model.SoongHashTag[i].HashTag, null, new { @class = "form-control", @placeholder = "Hash Tag" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                            <i class="icon-cross2"></i> Delete
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        <div data-repeater-item>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        @Html.TextBox("HashTag", null, new { @class = "form-control", @placeholder = "Hash Tag", })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                <i class="icon-cross2"></i> Delete
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button data-repeater-create class="btn btn-success" type="button">
                                                <i class="icon-plus4"></i> Add More
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/uploadImage")
    @Scripts.Render("~/jQuery/select2")
    @Scripts.Render("~/jQuery/summernote")
    @Scripts.Render("~/jQuery/repeater")
    @Scripts.Render("~/jQuery/iCheck")
    <script type="text/javascript">
        $('.chk-box').iCheck({
            checkboxClass: 'icheckbox_square-purple',
            radioClass: 'iradio_square-purple',
        });
        function readURL(input) {
            var url = input.value;
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            console.log(ext);
            if (input.files && input.files[0] && (ext == "mp3" || ext == "mkv" || ext == "wav" || ext == "mp4")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#fileFake').val(input.files[0].name);
                    $('#FileName').val(input.files[0].name);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please upload only .Mp3,Mkv,Wav,Mp4 song extention', 'Warning !');
            }
        }

        $("#FileBaseSongs").change(function () {
            readURL(this);
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2({

            });
			$('#SongIdAndroid').prop('required', false);
			$('#SongIdIos').prop('required', false);
        });
        $('#IsFree').on('ifToggled', function () {
            if (this.checked) {
                $('#divPaid').fadeOut('slow');
                $('#SongIdAndroid').prop('required', false);
                $('#SongIdIos').prop('required', false);
            }
            else {
                $('#divPaid').fadeIn('slow');
                $('#SongIdAndroid').prop('required', true);
                $('#SongIdIos').prop('required', true);
            }
        })
        BindRepeater();
        $('#Lyrics').summernote({
            height: 200,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false,

        });

        $("#CategoryId").change(function () {
            GetSubCategory();
        });

        function GetSubCategory() {
                var ddSubcategory = $('#SubCategoryId');
                var CategoryId = parseInt($("#CategoryId").val());
                if (isNaN(CategoryId) || CategoryId == 0) {
                    ddSubcategory.empty();
                    ddSubcategory.append($("<option></option>").val('').html('Please select category'));
                }
                else {
                    ddSubcategory.empty();
                    ddSubcategory.append($("<option></option>").val('').html('Please wait ...'));
                    $.ajax(
                        {
                            url: '@Url.Action("GetSubCategory")',
                            type: 'GET',
                            dataType: 'json',
                            data: { CategoryId: CategoryId },
                            success: function (data) {
                                console.log(data);
                                ddSubcategory.empty();
                                ddSubcategory.append($("<option></option>").val('').html('Select Sub Category'));
                                $.each(data, function (i, data) {
                                    ddSubcategory.append($("<option></option>").val(data.Id).html(data.Name));
                                });
                            },
                            error: function () {
                                swal("Failed", "Something went wrong!", "error");
                            }
                        });
                }
            }
    </script>
}

