﻿@model IEnumerable<SongsViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "View Songs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/gridMvc")

@helper ActionButtons(long Id)
{
    <a href="@Url.Action("Edit","Songs",new { @id= Id })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-edit2"></i> Edit
    </a>
    <a href="javascript:;" class="btn btn-sm btn-primary btn-red deleteData" data-id="@Id">
        <i class="icon-trash-o"></i> Delete
    </a>
}
@helper HashTag(List<SongHashTagModel> Hastag, string CategoryName)
{
    @CategoryName
    <ul>
        @foreach (var tag in Hastag)
        {
            <li>@tag.HashTag</li>
        }
    </ul>
}
@helper ViewImage(string ImageUrl)
{
    <img src=@ImageUrl alt="" height="50px" width="50px" />
}
@helper ViewRequested(long SongsId, long TotalReqest)
{
if (TotalReqest != 0)
{
        <a href="@Url.Action("RequestedBySongs", "RequestedSong", new { Id = SongsId })" target="_blank">@TotalReqest</a>
}
else
{
        @TotalReqest
}

}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All Songs</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            <li class="btn btn-white">
                                <a href="@Url.Action("Add")" class="primary">
                                    <i class="icon-plus3 primary"></i>&nbsp;Add New
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(t => t.ImageUrl).Titled("Image").Encoded(false).Sanitized(false).RenderValueAs(x => ViewImage(x.ImageUrl));
                               column.Add(x => x.Title).Titled("Title").SetWidth("1000");
                               column.Add(x => x.LanguageId).Titled("Language").RenderValueAs(x => x.LanguageId.ToString());
                               column.Add().Titled("Category & Tag").Encoded(false).Sanitized(false).RenderValueAs(x => HashTag(x.HashTag, x.CategoryName));
                               column.Add(x => x.SubCategoryName).Titled("Sub Category");
                               //column.Add(x => x.CategoryName).Titled("Category");
                               column.Add(x => x.TotalDownload).Titled("Download");
                               column.Add().Titled("Requested").Encoded(false).Sanitized(false).RenderValueAs(x => ViewRequested(x.Id, x.TotalRequested));
                               column.Add().Titled("Action").Encoded(false).Sanitized(false)
                               .RenderValueAs(x => ActionButtons(x.Id));
                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("Songs");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
         $(function () {
             $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });
    </script>
}