﻿@model IQueryable<UserDetailsModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@helper ActionButtons(string Id, bool IsActive)
{
    <a href="javascript:;" class="btn btn-sm btn-primary btn-red deactivate" data-id="@Id" style="display:@(IsActive?"inline-block;":"none;")">
        <i class="icon-ban"></i> Deactivate
    </a>
    <a href="javascript:;" class="btn btn-sm btn-primary btn-green activate" data-id="@Id" style="display:@(!IsActive?"inline-block;":"none;")">
        <i class="icon-check"></i> Activate
    </a>

    <a href="javascript:;" class="btn btn-sm btn-danger deleteData" data-id="@Id">
        <i class="icon-trash4"></i> Delete
    </a>

    @*<a href="javascript:;" class="btn btn-sm btn-primary btn-grey resetlink" data-id="@Id" style="display:@(externalconnecttypes==ExternalConnectTypes.Normal?"inline-block;":"none;")">
        <i class="icon-toggle-right"></i> Send Reset Password Link
    </a>*@

}
@helper LoadImage(string ProfileImageLink)
{
    <img src="@(!string.IsNullOrWhiteSpace(ProfileImageLink) ? GlobalConfig.UserImageUrl + ProfileImageLink : GlobalConfig.UserImageUrl + GlobalConfig.UserDefaultImage )" alt="No Image" height="100" width="100" />
}

@helper GetActiveStatus(bool IsActive)
{
    if (IsActive)
    {
        <span class="text-success">Active</span>
    }
    else
    {
        <span class="text-danger">De active</span>
    }
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card  box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All Users</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add().Titled("Profile Photo").Sanitized(false).Encoded(false).RenderValueAs(x => LoadImage(x.ProfileImageUrl));

                               column.Add(p => p.FullName).Titled("Full Name").Filterable(true);

                               column.Add(p => p.Email).Titled("Email").Filterable(true);

                               column.Add().Filterable(true).Titled("Status").Sortable(true).Encoded(false).Sanitized(false).RenderValueAs(x => GetActiveStatus(x.IsActive)).SetWidth(50);


                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.Id, x.IsActive));

                           }).Selectable(false).WithPaging(10)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("AllUsers");
         $(".jsgrid-grid-body").css('overflow-x', 'auto');

           $(function () {
               $(".deleteData").click(
                   function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
           });

         $(".resetlink").click(function () {
                 var control = $(this);
                 var Url = '@Url.Action("ForgotPasswordByAdmin")';

                 swal({
                     title: "Are you sure to send forget password link?",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, send it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.Status == 1) {
                                 setTimeout(function () {
                                         //control.parent().find(".activate").show()
                                         //control.hide()
                                 }, 300);
                                 swal("Send Successfully!", response.Message, "success");

                             }
                             else {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-toggle-right');
                                 swal("Error", response.Message, "error");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-toggle-right');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
           });

           $(function () {
            $(".activate").click(function () {
                var control = $(this);
                var Url = '@Url.Action("ActiveToggle")';

                 swal({
                     title: "Are you sure to activate this user?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, activated it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.status == 0) {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                 swal("Error", response.message, "error");
                             }
                             else {
                                 setTimeout(function () {
                                     control.parent().find(".deactivate").show()
                                     control.hide()
                                 }, 300);

                                 swal("Activated!", response.message, "success");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
             });

            $(".deactivate").click(function () {
                 var control = $(this);
                 var Url = '@Url.Action("ActiveToggle")';

                 swal({
                     title: "Are you sure to deactivate this user?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, deactivated it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.status == 0) {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                 swal("Error", response.message, "error");
                             }
                             else {
                                 setTimeout(function () {
                                     control.parent().find(".activate").show()
                                     control.hide()
                                 }, 300);
                                 swal("Deactivated!", response.message, "success");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
            });
        });
    </script>
}
