﻿@model IQueryable<ContactUsViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">Contact Us</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(p => p.Name)
                               .Titled("Full Name")
                               .Filterable(true)
                                .Sortable(true)
                               .Sanitized(false)
                              .Encoded(false);

                               column.Add(p => p.Message)
                               .Titled("Message")
                               .Filterable(false)
                               .Sanitized(false)
                              .Encoded(false).SetWidth(300);

                               column.Add(p => p.DateTime)
                               .Titled("Date & Time")
                               .Filterable(true)
                                .RenderValueAs(x => x.DateTime.ToString("dd/MM/yyyy"));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("ContactUs");
    </script>
}

