﻿@model ApplicationSettingModel
@{
    ViewBag.Title = "Application Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Index", "AppSettings", FormMethod.Post, new { @id = "frmSetting" }))
            {
                <div class="card">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">Application Settings</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            @Html.ValidationSummary(true)
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2">Force Update <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-Offerment="top" title="" data-original-title="Force Update Application"></span></label>
                                        <div class="col-md-2">
                                            @Html.CheckBoxFor(x => x.ForceUpdate, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2">Maintenence <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-Offerment="top" title="" data-original-title="Application Under Maintenence ?"></span></label>
                                        <div class="col-md-2">
                                            @Html.CheckBoxFor(x => x.Maintenance, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2">iOS App Version <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-Offerment="top" title="" data-original-title="Latest iOS App Version"></span></label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.iOSVersion, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.iOSVersion)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2">Android App Version <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-Offerment="top" title="" data-original-title="Android App Version"></span></label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.AndroidVersion, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.AndroidVersion)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-md btn-primary" value="Save" />
                                            <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script type="text/javascript">
        ActiveMenu("AppSettings")
    </script>
}