﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Reset Password Confirmed</title>
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Files/DefaultImages/favicon/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Files/DefaultImages/favicon/manifest.json")">
    <meta name="msapplication-TileColor" content="#005893">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Files/DefaultImages/favicon/ms-icon-144x144.png")">
    <meta name="theme-color" content="#005893">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    @Styles.Render("~/css/bundles")
    <style>
        .bg-cyan.bg-lighten-2 {
            background-color: #685e7f !important;
        }
    </style>

</head>
<body data-open="click" data-menu="vertical-content-menu" data-col="1-column" class="vertical-layout vertical-content-menu 1-column bg-cyan bg-lighten-2 blank-page blank-page  pace-done" id="body">
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 p-0">
                        <div class="card border-grey border-lighten-3 px-1 py-1 box-shadow-3">
                            <div class="card-block">
                                <span class="card-title text-xs-center">
                                    <img src=@Url.Content("~/Files/DefaultImages/login-logo.png") class="img-fluid mx-auto d-block pt-2" alt="logo">
                                </span>
                            </div>
                            <div class="card-block text-xs-center">
                                <i class="icon-ios-checkmark font-large-5 success"></i>
                                <h3>Congratulation!</h3>
                                <p>
                                    <b>Your password has been reset successfully.</b>
                                </p>
                            </div>
                            <hr>
                            <a href="@Url.Action("Index","Home")" class="btn btn-primary btn-block btn-lg white">
                                <i class="icon-home3"></i> Back to Home
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
