﻿@model AdminDashboardModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="p-2 text-xs-center bg-deep-orange media-left media-middle">
                        <i class="icon-users3 font-large-2 white"></i>
                    </div>
                    <div class="p-2 media-body">
                        <a href="@Url.Action("Index","User")">
                            <h5 class="text-bold-600 text-primary">@Model.TotalUser</h5>
                            <h5>Total User</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="p-2 text-xs-center bg-pink media-left media-middle">
                        <i class="icon-music font-large-2 white"></i>
                    </div>
                    <div class="p-2 media-body">
                        <a href="@Url.Action("Index","Songs")">
                            <h5 class="text-bold-600 cyan">@(Model.TotalSongs)</h5>
                            <h5>Total Songs</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="p-2 text-xs-center bg-teal media-left media-middle">
                        <i class="icon-ios-contact font-large-2 white"></i>
                    </div>
                    <div class="p-2 media-body">
                        <a href="@Url.Action("Index","ContactUs")">
                            <h5 class="text-bold-600 cyan">@(Model.TotalInquiry)</h5>
                            <h5>Total Inquiry</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 border-right-blue-grey border-right-lighten-5">
                            <div class="p-1 text-xs-center">
                                <div>
                                    <h3 class="font-large-1 success darken-1 text-bold-400">
                                        @(Model.TotalSongs)
                                    </h3>
                                    <span class="font-medium-2 grey darken-1">Total Songs</span>
                                </div>
                                <hr />
                                <div class="card-body overflow-hidden">
                                    <ul class="list-inline clearfix mb-0">
                                        <li class="col-md-4 border-right-grey border-right-lighten-2 pr-2">
                                            <h3 class="success text-bold-400">@(Model.TotalRequest.ToString())</h3>
                                            <span class="font-medium-1 grey darken-1">Request</span>
                                        </li>
                                        <li class="col-md-4 border-right-grey border-right-lighten-2 pr-2">
                                            <h3 class="success text-bold-400">@(Model.TotalPurchase.ToString())</h3>
                                            <span class="font-medium-1 grey darken-1">Purchase</span>
                                        </li>
                                        <li class="col-md-4">
                                            <h3 class="success text-bold-400">@(Model.TotalDownload.ToString())</h3>
                                            <span class="font-medium-1 grey darken-1">Download</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 border-right-blue-grey border-right-lighten-5">
                            <div class="p-1 text-xs-center">
                                <div>
                                    <h3 class="font-large-1 success darken-1 text-bold-400">
                                        @(Model.TotalRequest)
                                    </h3>
                                    <span class="font-medium-2 grey darken-1">Total Requested Songs</span>
                                </div>
                                <hr />
                                <div class="card-body overflow-hidden">
                                    <ul class="list-inline clearfix mb-0">

                                        <li class="col-md-6 border-right-grey border-right-lighten-2 pr-2">
                                            <a href="@Url.Action("Uploaded","RequestedSong")">
                                                <h3 class="success text-bold-400">@(Model.TotalUpload.ToString())</h3>
                                                <span class="font-medium-1 grey darken-1">Uploaded</span>
                                            </a>
                                        </li>
                                        <li class="col-md-6 border-right-grey border-right-lighten-2 pr-2">
                                            <a href="@Url.Action("Pending","RequestedSong")">
                                                <h3 class="success text-bold-400">@(Model.TotalPending.ToString())</h3>
                                                <span class="font-medium-1 grey darken-1">Pending</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>