﻿@model RequestedSongsAddUpdateModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = "Manage Songs";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UploadImageModel objUploadImage = new UploadImageModel() { imageUrl = GlobalConfig.SongsImageUrl + "Default.png", saveFilePath = GlobalConfig.SongsImagetPath, hdnImageName = "ImageName" };
}
@Styles.Render("~/css/uploadImage")
@Styles.Render("~/css/select2")
@Styles.Render("~/css/summernote")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(Action, "RequestedSong", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                if (Model != null)
                {
                    @Html.HiddenFor(x => x.Id)
                }
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">@ViewBag.Action Requested Song</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <div class="main-img-preview">
                                            <img class="thumbnail img-preview" id="preview_@Model.imageName" src="@(GlobalConfig.SongsImageUrl + Model.imageName)" title="Preview Logo">
                                        </div>
                                        @Html.HiddenFor(x => x.imageName)
                                        @Html.ValidationMessageFor(x => x.imageName)
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <div class="form-group row">
                                            <label class="col-md-2">
                                                Title&nbsp;<span class="red">*</span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(x => x.Title)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2">
                                                Category <span class="red">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewData["CategoryList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Category", new { @class = "form-control required", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(x => x.CategoryId)
                                            </div>
                                            <label class="col-md-2">
                                                Language <span class="red">*</span>
                                            </label>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(x => x.LanguageId, new SelectList(ViewData["LanguageList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Language", new { @class = "form-control required", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(x => x.LanguageId)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input id="fileFake" class="form-control" placeholder="Please Choose song File" disabled="disabled">
                                                    <div class="input-group-btn">
                                                        <div class="fileUpload btn btn-primary">
                                                            <span><i class="icon-upload1"></i>&nbsp;Choose&nbsp;Song&nbsp;File</span>
                                                            @Html.TextBoxFor(x => x.FileBaseSongs, new { @class = "attachment_upload", @type = "file", @accept = "Audio/*" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                @if (Model != null && Model.Id > 0 && Model.FileName != null)
                                                {
                                                    <audio controls>
                                                        <source src="@(GlobalConfig.RequestedSongsUrl+Model.FileName)" type="audio/ogg">
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="form-group row">
                                <label class="col-md-12">
                                    Requested songs lyrics&nbsp;<span class="red">*</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(x => x.Lyrics, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="repeater">
                                    <div data-repeater-list="SoongHashTag">
                                        @if (Model != null)
                                        {
                                            if (Model.SoongHashTag != null && Model.SoongHashTag.Any())
                                            {
                                                for (int i = 0; i < Model.SoongHashTag.Count; i++)
                                                {
                                                    <div data-repeater-item>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    @Html.TextBox("HashTag", Model.SoongHashTag[i].HashTag, null, new { @class = "form-control", @placeholder = "Hash Tag" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                            <i class="icon-cross2"></i> Delete
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        <div data-repeater-item>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        @Html.TextBox("HashTag", null, new { @class = "form-control", @placeholder = "Hash Tag", })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                <i class="icon-cross2"></i> Delete
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button data-repeater-create class="btn btn-success" type="button">
                                                <i class="icon-plus4"></i> Add More
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/uploadImage")
    @Scripts.Render("~/jQuery/select2")
    @Scripts.Render("~/jQuery/summernote")
    @Scripts.Render("~/jQuery/repeater")
    <script type="text/javascript">
        function readURL(input) {
            var url = input.value;
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            console.log(ext);
            if (input.files && input.files[0] && (ext == "mp3" || ext == "mkv" || ext == "wav" || ext == "mp4")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#fileFake').val(input.files[0].name);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                toastr.error('Please upload only .Mp3,Mkv,Wav,Mp4 song extention', 'Warning !');
            }
        }

        $("#FileBaseSongs").change(function () {
            readURL(this);
        });
    </script>
    <script type="text/javascript">
        BindRepeater();
        $('#Lyrics').summernote({
            height: 200,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
            ],
        });
    </script>
}

