﻿@model IEnumerable<SongsViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@Styles.Render("~/css/gridMvc")

@helper ActionButtons(long Id, bool IsUploaded)
{
    <a href="@Url.Action("Add","RequestedSong",new { @id= Id })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-edit2"></i> @(IsUploaded ? "Change song" : "Upload Song")
    </a>
}
@helper HashTag(List<SongHashTagModel> Hastag,string CategoryName)
{
    @CategoryName
    <ul>
        @foreach (var tag in Hastag)
        {
            <li>@tag.HashTag</li>
        }
    </ul>
}
@helper ViewImage(string ImageUrl)
{
    <img src=@ImageUrl alt="" height="50px" width="50px" />
}
@helper ViewDownload(long SongsId, long TotalDownload)
{
if (TotalDownload != 0)
{
        <a href="@Url.Action("RequestedSongsDownloadByUser", "RequestedSong", new { Id = SongsId })" target="_blank">@TotalDownload</a>
}
else
{
        @TotalDownload
}

}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">@ViewBag.ac Requested Songs</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(t => t.ImageUrl).Titled("Image").Encoded(false).Sanitized(false).Filterable(false).RenderValueAs(x => ViewImage(x.ImageUrl));
                               column.Add(x => x.Title).Titled("Title");
                               column.Add(x => x.Price).Titled("Price");
                               column.Add(x => x.LanguageId).Titled("Language").RenderValueAs(x => x.LanguageId.ToString());
                               column.Add().Titled("Category Name & Tag").Encoded(false).Sanitized(false).RenderValueAs(x => HashTag(x.HashTag,x.CategoryName));
                               column.Add().Titled("Purchase").Encoded(false).Sanitized(false).RenderValueAs(x => ViewDownload(x.Id,x.TotalPurchase));
                               ; column.Add().Titled("Action").Encoded(false).Sanitized(false)
                                .RenderValueAs(x => ActionButtons(x.Id, x.Isuploaded));
                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu('@ViewBag.Action');
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
         $(function () {
            $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });
    </script>
}