﻿@model IQueryable<UserDetailsModel>
@using GridMvc.Html
@{
    //ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")
@helper LoadImage(string ProfileImageLink)
{
    <img src="@(!string.IsNullOrWhiteSpace(ProfileImageLink) ? GlobalConfig.UserImageUrl + ProfileImageLink : GlobalConfig.UserImageUrl + GlobalConfig.UserDefaultImage )" alt="No Image" height="100" width="100" />
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card  box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">@ViewBag.Title Download song By Users</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add().Titled("Profile Photo").Sanitized(false).Encoded(false).RenderValueAs(x => LoadImage(x.ProfileImageUrl));

                               column.Add(p => p.FullName).Titled("Full Name").Filterable(true);

                               column.Add(p => p.Email).Titled("Email").Filterable(true);

                               column.Add(p => p.CreatedDate).Titled("Purchase Date").Filterable(true).Sortable(true).RenderValueAs(x => x.CreatedDate.ToString("dd/MM/yyyy"));

                           }).Selectable(false).WithPaging(10)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("AllUsers");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
    </script>
}
